{%extends 'page_border.html'%}
{%block content%}
<div>
    {% if c_upper and c_lower and c_digit%}
    <h1>Welcome {{username}}</h1>
    <h4>Your Username is Valid!!</h4>>
    {% else %}
    <h2>Sorry your Username is Invalid !!!</h2>
    <ul>
        {% if not c_upper %}
        <li>your username must contain a upper case char.</li>
        {%endif%}
        {% if not c_lower %}
        <li>your username must contain a lower case char.</li>
        {%endif%}
        {% if not c_digit %}
        <li>your username must contain a digit.</li>
        {%endif%}
    </ul>
    <form action="{{url_for('home')}}">
        <button >Try Again</button>
    </form>
    {% endif %}
</div>
{%endblock%}